<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Adding Blog</title>
    <style>
      .form-control {
        background: transparent;
        border: none;
        border-bottom: 2px solid black;
        box-shadow: none;
        border-radius: 0px;
      }
      .form-control:focus {
        background: transparent;
        border: none;
        border-bottom: 2px solid rgb(64, 23, 226);
        box-shadow: none;
        border-radius: 0px;
      }
    </style>
  </head>
  <body style="background-color: #dfdccf">
    <%- include('./partials/nav') %>

    <form action="/blog/addblogdb" method="post" enctype="multipart/form-data">
      <div class="container mt-3" style="width: 60%">
        <div class="mb-3">
          <input class="form-control" type="file" name="blogimage" />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="blogtitle" />
        </div>
        <div class="mb-3">
          <label for="blogtype">Choose a Blog Type:</label>

          <select name="blogtype" id="blogtype">
            <option value="tech">Tech Blog</option>
            <option value="lifestyle">Lifestyle Blog</option>
            <option value="food">Food Blog</option>
            <option value="travel">Travel Blog</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="body" class="form-label">Body</label>
          <textarea class="form-control" id="body" name="blogbody"></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Add Blog</button>
        </div>
      </div>
    </form>
    <%- include('./partials/footer') %> <%- include('./partials/script') %>
  </body>
</html>
